@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-effect {
    @apply backdrop-blur-[8px] bg-white/80;
  }
  .dark .glass-effect {
    @apply bg-slate-900/80;
  }
}

/* Global transitions */
body {
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
